[submodule "frontend"]
	path = frontend
	url = git@github.com:Invoice-Liquidity-Network/ILN-Frontend.git
	branch = main

[submodule "backend"]
	path = backend
	url = git@github.com:Invoice-Liquidity-Network/ILN-Smart-Contract.git
	branch = main
